$colortextGray:rgb(138, 136, 136);
$colortextGray02:rgb(122, 124, 127);
$bgGradient:linear-gradient(to right , rgb(250, 64, 39) , rgb(252, 105, 0));
$background_transparent: rgba(255, 255, 255, 0.1);
$dot_color: rgb(252, 105, 0);
$color_gray:rgb(117, 115, 115);
$bg-sidebar:rgba(0, 0, 0, 0.836);
$inputBorder:solid rgb(221, 219, 219) 1px;
/*
$breakpoints: (
  xxs: 480px,
  xs: 768px,
  sm: 991px,
  md: 1280px,
  lg: 1920px,
  xl: 5000px
);

*/