$colortextGray:rgb(83, 82, 82);
$colortextGray02:rgb(122, 124, 127);
$colorLightGray:rgb(212, 211, 211);
$bgGradient:linear-gradient(to right , rgb(250, 64, 39) , rgb(252, 105, 0));
$background_transparent: rgba(255, 255, 255, 0.1);
$dot_color: rgb(252, 105, 0);
$color_gray:rgb(197, 195, 195);
$bg-sidebar:rgb(53, 53, 53);
$inputBorder:solid rgb(221, 219, 219) 1px;
$black:rgba(0, 0, 0, 0.808);
$blackMedium:rgb(56, 55, 55);

/*
$breakpoints: (
  xxs: 480px,
  xs: 768px,
  sm: 991px,
  md: 1280px,
  lg: 1920px,
  xl: 5000px
);

*/