@mixin heading($spacing:3px , $weight:300 , $case:uppcase){
    letter-spacing: $spacing;
    font-weight: $weight;
    transform: $case;
}

@mixin flex($direction:row, $justifyContent:center , $alignItems:center, $gap:1rem){
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: $alignItems;
    gap:$gap;
}

@mixin grid($col:1fr, $row:1fr , $gap:1rem){
    display: grid;
    grid-template-columns: $col;
    grid-template-rows: $row;
    gap:$gap;
}

@mixin postCenter{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50% , -50%);
}

