@use "_colors" as color;
@use "_mixin" as mixin;
:root {
    font-family:Arial , 'Verdana' , 'Times New Roman';
    --header-height: 60px;
    line-height: 1.5;
    font-weight: 400;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color:white;
}

.custom_Button{
    background: color.$bgGradient;
    font-weight: bold;
    font-size: large;
    color:white;
}

.custom_form_content{
    display: flex;
    flex-direction: column;
    margin: 10px 16px;
    padding: 8px;
    >input{
        padding: 10px;
        background-color: rgb(238, 238, 238);
        border: solid rgb(204, 200, 200) 1px;
        border-radius: 4px;
        outline: none;
    }
}
.custom_text{
    font-weight: bold;
    margin-bottom: 8px;
}

.custom_body_Style{
    flex-grow:1;
    color: rgba(0, 0, 0, 0.753);
    padding: 2rem;
    margin-top:3rem;
    min-height: 100vh;
    background-color: rgb(245, 245, 245);
}

.main_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100vh;
    background-color: whitesmoke;
    
}
.apply_button_container{
    display: flex;
    justify-content: end;
}
.apply_button{
    margin:16px 16px 0 0 ;
    border-radius:8px;
    padding: 8px 16px;
    cursor: pointer;
    @extend .custom_Button;
}
.login_button{
    margin: 20px 24px;
    margin-bottom: 24px;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    cursor: pointer;
    @extend .custom_Button;
}
.form_container{
    width: 100%;
    height: 100%;
    @include mixin.flex();
}

.form_content{
    position: relative;
    width: 460px;
    height:auto;
    background-color: white;
    padding: 20px 10px 40px 10px;
    border: color.$inputBorder;
    border-radius: 4px;
    @media screen and (max-width: 768px) {
        width: 320px;
      }
    >h1 , p{
        text-align: center;
        
    }
    .error,
    .Loggedin{
        color:rgb(243, 4, 4);
        font-size: 0.8rem;
        font-weight: bold;
        margin-top: 0.2rem;
        position: absolute;
        text-align: center;
        width: 100%;
    }
    .Loggedin{
        color:rgba(11, 145, 11, 0.596);
    }
}
.dashboard_pTag{
    font-weight: bold;
    margin-bottom: 24px;
    color:color.$colortextGray02;
}
.forgot-password{
    color:color.$colortextGray02;
    font-size:medium;
}
.register{
    color: rgb(238, 77, 18);
    cursor: pointer;
}

.input_Fields1{
    >span{
        @extend .custom_text;
    }
    @extend .custom_form_content;
}
.input_Fields2{
   >div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }
    @extend .custom_form_content;
}
.password{
    @extend .custom_text;
}
.page_wrapper{
    display: flex;
    flex-direction: column;
}

.page_body{
    color:black;
    display: flex;
    flex-grow: 1;
    h4 span{
        cursor: pointer;
    }
}
.header_container{
    width: 100%;
    background: color.$bgGradient;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    font-weight: bolder;
    position: fixed;
    top: 0;
    img{
        height: 24px;
    }
    > div * {
        margin: 0 10px;
        cursor: pointer;
    }
    .leftSide_header{
        @include mixin.flex(row , unset , center ,0);
    }
    @media screen and (min-width: 992px) {
        .screenMenu {
          display: none;
        }
    }
    @media screen and (max-width: 992px) {
    .pcMenu,
    p{
        display: none;
    }
    }

    .rightSide_header{
       @include mixin.flex(row , unset , center ,0);
        margin-right: 10px;
        .search-bar{
            @include mixin.flex(row , unset , center ,0);
            background-color: color.$background_transparent;
            padding:8px 10px;
            border-radius: 4px;
            >input{
                background-color: transparent;
                border:none;
                outline:none;
                padding:5px;
                width: 100px;
                color:white;
            }
        }
        .search-bar input::placeholder{
            font-weight: bold;
            color:white;
        }
        @media screen and (max-width: 992px) {
            .search-bar 
            input {
              display: none;
            }
        }
        .notification,
        .message{
            background-color: color.$background_transparent;
            border-radius: 4px;
            padding: 6px;
        }
        
    }
}
.custom-sidebar{
    margin-top: 60px;
    background-color: color.$bg-sidebar;
    overflow-y: auto;
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
}
.sidebar_wrapper{
    width: 250px;
    @extend .custom-sidebar;
    h2{
       @include mixin.flex(row , unset , center ,0);
        margin: 2rem 1rem 0.5rem 1rem ;
        font-size: smaller;
        color:white;
        > span{
            color:color.$dot_color;
            margin-right: 8px;
        }
    }
    ul{
        >li{ 
           div{
                @include mixin.flex(row , space-between, center , 1rem);
                margin: 0.2rem 0.8rem;
                cursor: pointer;
           }
            span{
                color: color.$colortextGray02;
                font-weight: bold;
            }
            img{
                width: 1rem;
            }
        }
    }
}

.sidebar_wrapper01{
    width:60px;
    @extend .custom-sidebar;
    > ul{
        margin-top: 1rem;
        li{
            @include mixin.flex();
            margin: 0.5rem;
            cursor: pointer;
        }
    }
}

.body-wrapper{
    overflow-y: auto;
    height: calc(100vh - var(--header-height));
}
.arrow{
    height: 14px;   
}
.custom_profile_div{
    margin:1rem 0;
}

.profile-body {
    @extend .custom_body_Style;
    .profile_card{
        @include mixin.grid(1fr 1fr ,1fr , 0);
        height: min-content;
        background-color: white;
        margin-top: 2rem;
        box-shadow:0 2px 4px 1px rgba(156, 156, 156, 0.2); 
        border-radius: 0.5rem;

        .profile_Left{
            @include mixin.flex( row , unset , unset , 0);
            @extend .custom_profile_div;
            border-right: dashed 1px color.$colortextGray02;
            .img{
                height: 8rem;
                width: 8rem;
                background-color: rgb(209, 208, 208);
                border-radius: 100%;
                margin:0 1rem;
            }
            .person_details{
                .lines{
                    margin: 0.5rem 0;
                    .id,
                    .date{
                        font-weight: bolder;
                        font-size: 0.8rem;
                    }
                }
                h5,
                small,
                .date{
                    color:color.$colortextGray02;
                }
                small ,
                h5{
                    font-weight:bold;
                }
            }
            button{
                background:color.$bgGradient;
                @include mixin.btn();
                margin-top: 1rem;
            }
        }
        .profile_right{
            @extend .custom_profile_div;
            margin-left: 2rem;
            font-weight:600;
            font-size: 1rem;
            
            ul li{
                @include mixin.grid(1fr 1fr , 1f , 0);
                margin:0.5rem 0;
                .num,
                .email,
                .name{
                    color:color.$dot_color;
                }
                div{
                    color:color.$colortextGray02;
                }  
            }
        }
    }

    .profile_card02_nav{
        nav{
            @include mixin.flex(row , unset, unset , 1rem);
            font-weight:bold;
            color:color.$colortextGray02;
            background-color: white;
            margin-top: 1rem;
            padding: 1rem;
            box-shadow:0 2px 4px 1px rgba(63, 63, 63, 0.2); 
            border-radius: 0.2rem;
    
            span{
                color:red;
                font-weight: normal;
                font-size: 0.8rem;
            }
            div{
                cursor: pointer;
                margin: 0 0.6rem;
            }
        }
        
    }
}
.Contract{
    margin-left:3rem;
}
.Expand{
    margin-left: 15rem;
}
.customProfileStyle{
    background-color: white;
    border-radius: 0.4rem;
    box-shadow:0 2px 4px 1px rgba(0, 0, 0, 0.1);
    padding:2rem;
    margin-top: 3rem;
}
.custom_Dprofile{
   @extend .customProfileStyle;
    ul{
        padding:1rem 0;
        font-weight: bold;
        font-size: 18px;
        li{
            @include mixin.grid(1fr 1fr , 1fr , 1rem);
            padding: 0.5rem 0;
            color:color.$blackMedium;
            div{
                color:color.$colortextGray02;
            }
        }
    }
}
.customEduInfo{
    margin: 1rem 0.2rem;
    .title{
        font-weight: bold;
        color: color.$colortextGray;
    }
    .year{
        font-size: 14px;
        color:color.$colortextGray02;
    }
    .detail01,
    .detail02{
        margin-bottom: 1rem;
        @include mixin.flex(row , unset , unset, 1rem);
        span{
            color:color.$color_gray;
        }
    }
}

.custom_statutory{
    div{
        p{
            font-weight: bold;
            font-size: 0.8rem;
            color:color.$colortextGray;
        }
        select,input{
            padding: 1rem 0rem 1rem 0.5rem ;
            outline: none;
            border-radius: 0.4rem;
            border-color: color.$colorLightGray;
            color:color.$colortextGray;
            font-weight: bold;
            font-size: 1rem;
            width: 100%;
            
        }
    }
}

.custom_asset{
    @include mixin.grid(2rem 1fr 6rem 1fr 1fr , 1fr , 1rem);
    font-weight: bold;
    padding: 1.2rem 1rem ;
}
.Dprofile-wrapper{
    height: fit-content;
    padding: 1px;
    color: color.$black;
    @include mixin.grid(1fr 1fr , 1fr , 1rem);
    .personal-info{
        @extend .custom_Dprofile;
    }
    .emergency-contact{
        @extend .custom_Dprofile;
        .Ecard1{
            border-bottom:solid 1px;
            border-color: color.$colorLightGray;
        }
    }
    .bank-info{
        @extend .custom_Dprofile;
    }
    .family-info{
        @extend .custom_Dprofile;
        overflow-x: auto;
        .family-table{
            overflow-x: auto;
            > table{
                width: 100%;
                margin: 1rem 0;
                border-top:1px solid;
                border-color:color.$colorLightGray;
                border-collapse: collapse;
    
                th,td{
                    white-space: nowrap;
                    padding: 1rem 1rem;
                    border-bottom: 1px solid;
                    border-color:color.$colorLightGray;
                }
                tbody th{
                    color:color.$colortextGray;
                }
                
            }
        }
        
    }
    .edu-info{
        @extend .custom_Dprofile;
        .edu-info-detail{
           @extend .customEduInfo;
        }
    }
    .experience-info{
        @extend .custom_Dprofile;
        .exp-info-detail{
            @extend .customEduInfo;
        }
    }
    
}

.projects-container{
    @media screen and (max-width:1920px){
        @include mixin.grid(1fr 1fr 1fr 1fr, 1fr , 1rem);
    }
    @media screen and (max-width:1280px){
        @include mixin.grid(1fr 1fr 1fr, 1fr , 1rem);
    }
    @media screen and (max-width:991px){
        @include mixin.grid(1fr 1fr, 1fr , 1rem);
    }
    @media screen and (max-width:650px){
        @include mixin.grid(1fr, 1fr , 1rem);
    }
    
   
    .Dprojects-wrapper{
        @extend .customProfileStyle;
        font-weight: bold;
        color:color.$colortextGray02;
        .heading{
            color:color.$black;
            font-size: 1.3rem;
        }
        .task,
        .progress-Bar{
            @include mixin.flex(row , unset , unset , 1rem);
        }
        .task {
            font-size: 0.8rem;
            span{
                margin-right: 0.2rem;
                color:black;
            }
            p{
                margin: 0.2rem 0 1rem 0;
            }
        }
        h4{
            color:color.$blackMedium;
        }
        .deadline,
        .project,
        .team{
            margin: 1rem 0;
        }
        .progress{
            @include mixin.flex(row , space-between , unset , 1rem);
            margin-bottom: 1rem;
            div{
                color:color.$green;
            }
        }
        .progress-bar{
            width: 100%;
            height: 6px;
            border-radius: 1rem;
            background-color: color.$colorLightestGray;
        }
        
        
    }
}

.statutory-wrapper{
    @extend .customProfileStyle;

    .salary-info-container,
    .PF-info-container{
        border-bottom: 1px solid color.$colorLightGray;
        padding-bottom: 2rem;
    }
    .PF-info-container,
    .ESI-info-container{
        padding-top: 1rem;
    }
    h2{
        margin-bottom: 1.5rem;
    }
    .salary-info{
        @include mixin.grid(1fr 1fr 1fr , 1fr , 1rem); 
        @extend .custom_statutory;
    }
    .PF-info,
    .ESI-info{
        @include mixin.grid(1fr , 1fr 1fr 1fr , 1rem);
        @extend .custom_statutory;
        > div{
            @include mixin.grid(1fr 1fr 1fr , 1fr , 1rem); 
        }
    }
    .save{
        text-align: center;
        button{
            @include mixin.btn(none , 1rem 5rem);
            background: color.$bgGradient;
            border-radius: 2rem;
            font-size: 1.2rem;
        }
    }

    @media screen and (max-width: 650px) {
        .salary-info{
            @include mixin.grid(1fr , 1fr , 1rem); 
            
        }
        .PF-info,
        .ESI-info{
            @include mixin.grid(1fr , 1fr , 1rem);
            > div{
                @include mixin.grid(1fr, 1fr , 1rem); 
            }
        }
    }
}

.assets-wrapper{
    @extend .customProfileStyle;
    padding: 0;
    .assets-heading {
        @extend .custom_asset;
        background-color: color.$colorLightestGray;
    }
    .assets-compoponent-container{
        .assets-component{
           @extend .custom_asset;
           .name,
           .assignee{
            color:color.$colortextGray02;
           }
        }
    }
}

.admin-wrapper{
    position: fixed;
    height: 6rem;
    width: 10rem;
    background-color:white;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1);
    border-radius:4px;
    box-sizing: border-box;
    right:1px;
    @include mixin.flex(column , center , unset , 0);
    .admin-card div{
        color:color.$blackMedium;
        font-weight:bold;
        padding:2px 0;
    }
}

.password_Body{
    @extend .custom_body_Style;
    .password_body_wrapper{
        @include mixin.flex(column , center , center , 1rem);
        text-align: center;
        .password_container{
            @include mixin.flex(column , center , center , 1rem);
            background-color: white;
            border: 1px solid color.$colorLightGray;
            border-radius: 0.5rem;
            margin-top:1rem;
            padding: 3rem 0;
            width: 50%;
            button{
                @include mixin.btn();
                background: color.$bgGradient;
                font-size: large;
                cursor: pointer;
            }
            input{
                border:none;
                outline:none;
                width: 80%;
                font-size: medium;
                color:color.$colortextGray02;
                background-color: color.$colorLightestGray;
                padding:1rem;
                border-radius: 4px;
                margin-bottom: 1rem;
            }
            p{
                font-weight: bold;
                color:color.$dot_color;
            }
        }
    }
    
}

.Total_Company_Body{
    @extend .custom_body_Style;
    .company_container{
        margin-top:2rem;
        .company_wrapper{
            background-color: white;
            padding:2rem;
            margin-bottom:2rem;
            border-radius: 0.5rem;
            box-shadow: 0px 2px 4px rgba(124, 124, 124, 0.2);
    
            .company_header{
                @include mixin.flex(row , unset ,center , 1rem);
                margin-bottom: 1.5rem;
                .company_header_title{
                    font-weight: bold;
                    color:color.$colortextGray;
                }
                .ratings{
                    font-size: 0.9rem;
                }
                .img{
                    background-color: rgb(190, 189, 189);
                    padding:0.6rem;
                    border-radius:100%;
                }
            }
            .company_middle{
                >p{
                    margin-bottom: 0.4rem;
                    font-size: 0.9rem;
                    font-weight: bold;
                    color:color.$colortextGray;
                }
            }
            .promotion{
                color:rgb(2, 119, 252);
                font-weight: bold;
                font-size: 0.8rem;
                background-color: color.$colorLightestGray;
                width: fit-content;
                padding:4px 6px;
                border-radius: 4px;
                margin-top:1.5rem;
                margin-bottom: 2rem;
            }
            .company_bottom{
                padding:1rem 0.8rem;
                @include mixin.flex(row , space-between , unset , 1rem);
                border-top:1px solid color.$colorLightGray;
            }
        }
    }
    
}

.dashboard_wrapper{
    @extend .custom_body_Style;
    .blocks_container{
        margin-top:2rem;
        .blocks{
            @include mixin.flex(row , space-between , center , 1rem);
            box-shadow:0 2px 4px 1px rgba(156, 156, 156, 0.2);
            background-color: white;
            padding:1rem;
            border-radius: 0.5rem;
            margin-bottom: 1rem;
            p{
                font-weight: bold;
            }
            .img{
                height: 4rem;
                width: 4rem;
                background-color: rgb(209, 208, 208);
                border-radius: 100%;
            }
        }
    }

    .chart_container{
        @include mixin.flex(row, center , center , 1rem);
        flex-wrap: wrap;
        margin-top: 2rem;
        width: 100%;
        .bar_chart,
        .line_chart{
            background-color: white;
            padding:3rem;
            box-shadow:0 2px 4px 1px rgba(156, 156, 156, 0.2); 

        }
    }

    @media (min-width: 580px) and (max-width: 1200px){
        .blocks_container{
            @include mixin.grid(1fr 1fr, 1fr 1fr ,1rem );
        }
    }
    @media (min-width:1200px) and (max-width: 5000px){
        .blocks_container{
            @include mixin.grid(1fr 1fr 1fr 1fr, 1fr  , 1rem );
        }
    }
    
}

@media screen and (max-width: 991px) {
    
    .rightSide_header{
        .notification,
        .message{
            display: none;
        }
    }
   
    .sidebar_wrapper01{
        display: none;
    }
    .Contract{
        margin-left: 0rem;
    }
    .Expand{
        margin-left: 0rem;
    }
    .profile-body {
        padding: 2rem 1rem;
        .profile_card{
            @include mixin.grid(1fr , 1fr, 1rem);
            .profile_Left{
                @include mixin.flex( column, center , center , 0);
                border-right:none;
                border-bottom: dashed 1px color.$colortextGray02 ;
                padding-bottom: 2rem;
                
                .person_details{
                    text-align: center;
                    margin-top: 1rem;
                }
            }
            .profile_right{
                margin: 0 1rem 2rem 1rem ;
            }
        }
        .profile_card02_nav{
            nav{
                @include mixin.flex(row , unset, unset , 1rem);
                font-weight:bold;
                color:color.$colortextGray02;
                background-color: white;
                margin-top: 2rem;

                div{
                    margin: 0 0.2rem;
                }
            }
            
            
        }
    }
    .Dprofile-wrapper{
        @include mixin.grid(1fr , 1fr , 1rem);
    }

    .password_Body{
        .password_container{
            width: 80%;
        }
    }
}